<footer class="seo-footer">
  <div class="seo-footer-inner">
    <div class="seo-footer-brand">
      <img src="/Logos/SVG/rev-vert.svg" alt="WoBazi" height="28">
      <p>Decode your destiny through the ancient art of the Four Pillars.</p>
    </div>
    <div class="seo-footer-links">
      <div class="seo-footer-col">
        <h4>Learn</h4>
        <a href="/what-is-bazi">What is BaZi?</a>
        <a href="/four-pillars-of-destiny">Four Pillars of Destiny</a>
        <a href="/chinese-astrology">Chinese Astrology</a>
      </div>
      <div class="seo-footer-col">
        <h4>Explore</h4>
        <a href="/day-master">Day Master Guide</a>
        <a href="/bazi-compatibility">Compatibility</a>
        <a href="/bazi-calculator">Free Calculator</a>
      </div>
      <div class="seo-footer-col">
        <h4>App</h4>
        <a href="/app">Get Your Reading</a>
      </div>
    </div>
  </div>
  <div class="seo-footer-bottom">
    <p>&copy; <%= new Date().getFullYear() %> WoBazi. All rights reserved.</p>
  </div>
</footer>
